/*********** INFORMATION *****************************

- Headings: Lato
- Content: Lato
- Code/Pre: Menlo, Consolas, Monaco, monospace

*****************************************************/

/***** Fonts *****/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url(http://fonts.gstatic.com/s/lato/v11/7aC-Y4V2UPHQp-tqeekgkA.woff2)
            format('woff2');
    src: local('Lato Regular'), local('Lato-Regular'),
        url(http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff)
            format('woff');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../font/Lato-Regular.woff') format('woff');
    unicode-range: U+0000-00ff, U+0131, U+0152-0153, U+02c6, U+02da, U+02dc,
        U+2000-206f, U+2074, U+20ac, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/***** Global *****/
*,
*:before,
*:after {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.col {
    flex: 1;
}
@media (max-width: 48em) {
    .row {
        flex-direction: column;
    }
    .col {
        flex: 0 0 auto;
    }
}
@media (min-width: 48em) {
    .col-tenth {
        flex: 0 0 10%;
    }
    .col-fifth {
        flex: 0 0 20%;
    }
    .col-quarter {
        flex: 0 0 25%;
    }
    .col-third {
        flex: 0 0 33.3333334%;
    }
    .col-half {
        flex: 0 0 50%;
    }
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body {
    background: none repeat scroll 0 0 #f3f3f3;
    position: relative;
    font-size: 14px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 1.728rem;
    line-height: 1.4;
    margin-top: 2.1rem;
    font-weight: 500;
}

@media all and (min-width: 640px) {
    h1 {
        font-size: 2.0736rem;
    }
}
h2 {
    font-size: 1.44rem;
    line-height: 1.35;
    margin-top: 2.1rem;
    font-weight: 500;
}
h3,
h4 {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0.5rem 0;
}
h3,
h4 {
    font-weight: 500;
}
code,
pre {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 0.9rem;
    line-height: 1.26rem;
    margin: 0;
    color: #24292e;
    word-wrap: normal;
}
pre {
    background-color: #f9f9f9;
    border: 1px solid #d8d8d8;
    padding: 1rem;
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

strong {
    font-weight: 700;
}
p {
    color: #333333;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #333;
    transition: opacity 1s linear;
    opacity: 1;
    outline: medium none;
}
a.disabled {
    cursor: default;
    opacity: 0.5;
}
/***** Clear Fix *****/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.googlead {
    margin-top: 30px;
    display: inline-block;
}

/***** Body Sidebar *****/
#sidebar > header {
    font-size: 1.3em;
    margin-bottom: 10px;
}
#sidebar > header h1 {
    margin: 0;
}
#sidebar .jstree {
    margin-bottom: 15px;
}
.vakata-context {
    z-index: 15;
}
.vakata-context a {
    transition: background-position 0s ease 0s !important;
}
#sidebar .search {
    margin-bottom: 10px;
}
#sidebar .search .field {
    margin-bottom: 0;
}
.jstree {
    font-size: 1.3em;
}
.jstree i.jstree-icon {
    background-position: center center;
    background-size: auto auto;
}
.jstree-icon.ecmaarray,
.jstree-icon.array,
.jstree-icon.false,
.jstree-icon.true,
.jstree-icon.boolean,
.jstree-icon.bytearray,
.jstree-icon.date,
.jstree-icon.integer,
.jstree-icon.null,
.jstree-icon.double,
.jstree-icon.number,
.jstree-icon.dictionary,
.jstree-icon.object,
.jstree-icon.string,
.jstree-icon.longstring,
.jstree-icon.undefined,
.jstree-icon.vector,
.jstree-icon.xmldocument,
.jstree-icon.xml {
    border-radius: 50px;
    width: 16px !important;
    height: 16px !important;
    margin: 4px;
}
.jstree-icon.ecmaarray:before,
.jstree-icon.array:before,
.jstree-icon.false:before,
.jstree-icon.true:before,
.jstree-icon.boolean:before,
.jstree-icon.bytearray:before,
.jstree-icon.date:before,
.jstree-icon.integer:before,
.jstree-icon.null:before,
.jstree-icon.double:before,
.jstree-icon.number:before,
.jstree-icon.dictionary:before,
.jstree-icon.object:before,
.jstree-icon.string:before,
.jstree-icon.longstring:before,
.jstree-icon.undefined:before,
.jstree-icon.vector:before,
.jstree-icon.xmldocument:before,
.jstree-icon.xml:before {
    content: '-';
    font-style: normal;
    line-height: 14px;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14px;
}
.jstree-icon.localsharedobject {
    background-image: url('../img/icons/SOL_16.png');
}
.jstree-icon.error {
    background-image: url('../img/icons/bug.png');
}
.jstree-icon.time {
    background-image: url('../img/icons/time.png');
}
.jstree-icon.ecmaarray,
.jstree-icon.array {
    background-color: #30dfc4;
}
.jstree-icon.ecmaarray:before,
.jstree-icon.array:before {
    content: 'A';
}
.jstree-icon.false,
.jstree-icon.true,
.jstree-icon.boolean {
    background-color: #3fd0d5;
}
.jstree-icon.bytearray {
    background-color: #b8b8b8;
}
.jstree-icon.false:before,
.jstree-icon.true:before,
.jstree-icon.boolean:before,
.jstree-icon.bytearray:before {
    content: 'b';
}
.jstree-icon.date {
    background-color: #be9d7f;
}
.jstree-icon.date:before {
    content: 'd';
}
.jstree-icon.integer {
    background-color: #fc5530;
}
.jstree-icon.integer:before {
    content: 'I';
    line-height: 15px;
}
.jstree-icon.undefined,
.jstree-icon.null {
    background-color: white;
    border: 2px solid #f023ff;
}
.jstree-icon.null:before {
    content: 'n';
    line-height: 10px;
}
.jstree-icon.undefined:before {
    content: 'u';
    line-height: 10px;
}
.jstree-icon.double,
.jstree-icon.number {
    background-color: #fff001;
}
.jstree-icon.double:before,
.jstree-icon.number:before {
    content: 'N';
}
.jstree-icon.dictionary,
.jstree-icon.object {
    background-color: #575fd6;
}
.jstree-icon.dictionary:before {
    content: 'd';
    color: white;
}
.jstree-icon.object:before {
    content: 'o';
    color: white;
}
.jstree-icon.string,
.jstree-icon.longstring {
    background-color: #49da07;
}
.jstree-icon.string:before,
.jstree-icon.longstring:before {
    content: 'S';
}
.jstree-icon.vector {
    background-color: #659900;
}
.jstree-icon.vector:before {
    content: 'v';
}
.jstree-icon.xmldocument,
.jstree-icon.xml {
    background-color: #ed64c9;
}
.jstree-icon.xmldocument:before,
.jstree-icon.xml:before {
    content: 'x';
}

/***** Body Details *****/
#details > nav {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
#details > nav .vr {
    border-left: 1px solid #bbb;
    display: inline-block;
    height: 45px;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
}
#details > nav .field {
    margin-bottom: 0;
    width: 115px;
    margin-right: 15px;
}
#details > nav input[type='button'] {
    font-size: 1.2em;
    margin: 0 6px 0 0;
    position: relative;
}
#details h1 {
    margin-top: 0;
    font-size: 2em;
}
#details .field {
    margin-bottom: 0;
}
#details p {
    font-size: 1.3em;
}
#details code {
    font-size: 1em;
}

#details .description {
    font-size: 1.4em;
    color: #212121;
}

/* XML Panel */
#details.XMLType > div.field {
    height: 80%;
}

/* Date Panel */
#details.DateType p {
    float: left;
}

/* String Panel */
#details.StringType > div.field {
    height: 80%;
    min-height: 30vh;
}

/* Boolean Panel */
#details.BooleanType .slide-chk {
    width: 75px;
}

/* ByteArray Panel */
#details.ByteArrayType .hex {
    width: 978px;
    background: hsla(0, 0%, 100%, 0.75);
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    padding: 10px;
}
.hex .hexBody {
    display: flex;
}
.hex .hexscale,
.hex .hexdump,
.hex .hextext,
.hex .hexoffset pre {
    font-size: 1.3em;
    line-height: 1.3em;
    border: none;
    padding: 0;
}
.hex .hexscale {
    padding: 10px 0 10px 110px;
    text-transform: uppercase;
}
.hex .hexoffset pre {
    padding-right: 10px;
}
.hex .hextext {
    padding-left: 0;
}
.hex .hexscale,
.hex .hexoffset pre {
    color: #bbb;
}

/* XML Panel */
#details.XMLType .XMLError {
    color: #212121;
    float: left;
    font-size: 1.1em;
    margin-top: 10px;
}
#details.XMLType .XMLError p {
    font-size: 1em;
}
#details.XMLType textarea {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 1.1rem;
}

/* Object/Vector Panel */
#details.ObjectType p span,
#details.VectorType p span {
    text-transform: capitalize;
}

/***** Forms *****/
.search-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iI2ZmZmZmZiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMyIDMyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMiAzMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTI5LjI4MywyNS43NDlsLTcuMTI1LTcuMTI3YzAuOTU5LTEuNTgyLDEuNTIxLTMuNDM2LDEuNTIxLTUuNDIyYzAtNS43OTMtNC42ODgtMTAuNDg0LTEwLjQ4MS0xMC40ODYgIEM3LjQwOSwyLjcxNiwyLjcxNyw3LjQwNywyLjcxNywxMy4xOTljMCw1Ljc4OCw0LjY5MywxMC40NzksMTAuNDg0LDEwLjQ3OWMxLjk4NywwLDMuODM4LTAuNTYyLDUuNDItMS41MjFsNy4xMjksNy4xMjkgIEwyOS4yODMsMjUuNzQ5eiBNNi43MTYsMTMuMTk5QzYuNzIyLDkuNjE3LDkuNjE5LDYuNzIsMTMuMiw2LjcxNGMzLjU4LDAuMDA4LDYuNDc4LDIuOTAzLDYuNDg0LDYuNDg1ICBjLTAuMDA3LDMuNTc5LTIuOTA0LDYuNDc4LTYuNDg0LDYuNDgzQzkuNjE4LDE5LjY3Nyw2LjcyMSwxNi43NzgsNi43MTYsMTMuMTk5eiIvPjwvc3ZnPg==');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.cancel-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iI2ZmZmZmZiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iLTE2NSA5NSAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IC0xNjUgOTUgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxwb2x5Z29uIHBvaW50cz0iLTc0LjksMTE3LjIgLTEwMi4yLDE0NSAtNzQuOSwxNzIuOCAtODkuMSwxODYuOCAtMTE2LjIsMTU5LjMgLTE0My4yLDE4Ni44IC0xNTcuNSwxNzIuOCAtMTMwLjIsMTQ1ICAgICAtMTU3LjUsMTE3LjIgLTE0My4yLDEwMy4yIC0xMTYuMiwxMzAuNyAtODkuMSwxMDMuMiAgICIvPjwvZz48L2c+PC9zdmc+');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.right-circled-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0ibTAuMDQwNzUsOC4wMDAzNWMwLDQuNDIwNTMgMy41ODM4OSw4LjAwNDA3IDguMDA0NDIsOC4wMDQwN2M0LjQyMTA1LDAgOC4wMDQ0MiwtMy41ODM1NCA4LjAwNDQyLC04LjAwNDA3YzAsLTQuNDIwODggLTMuNTgzMzcsLTguMDA0NzcgLTguMDA0NDIsLTguMDA0NzdjLTQuNDIwNTMsMCAtOC4wMDQ0MiwzLjU4Mzg5IC04LjAwNDQyLDguMDA0Nzd6bTE0LjI2ODc1LDBjMCwzLjQ1OTQ4IC0yLjgwNDUxLDYuMjYzOTggLTYuMjY0MzMsNi4yNjM5OGMtMy40NTk2NSwwIC02LjI2NDMzLC0yLjgwNDUxIC02LjI2NDMzLC02LjI2Mzk4YzAsLTMuNDYwMTcgMi44MDQ2OCwtNi4yNjQ2OCA2LjI2NDMzLC02LjI2NDY4YzMuNDU5ODIsMCA2LjI2NDMzLDIuODA0NTEgNi4yNjQzMyw2LjI2NDY4em0tOS42MTQwMSwtMS41NjY0M2wwLDMuMTMyMTZsMy41NTg4NCwwbDAsMS45NTc2bDMuMzE0NTMsLTMuNTIzNjlsLTMuMzE0NTMsLTMuNTIzNjlsMCwxLjk1NzZsLTMuNTU4ODQsMHoiLz48L2c+PC9zdmc+');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.comment-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iI2ZmZmZmZiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBkYXRhLW5hbWU9IkxheWVyIDEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPlVudGl0bGVkLTI8L3RpdGxlPjxwYXRoIGQ9Ik0zNjEuNTgsNDIuMDljLTIuMS0uMi00LjItMC40LTYuNC0wLjVxLTQ1LjYuMTUtOTEuMiwwLjFjLTcuNywwLTUwLjIsMC05OC42LS4xLTEyLjUuNi0yMS42LDEuMy0yNC44LDEuOS05MS45LDE2LjEtMTU0LDEwNi41LTEzOC4xLDE5OC42LDE0LjksODYuNSw4NC41LDE0NS42LDE3Mi4zLDE0Ni4xLDIzLjcsMC4xLDQ3LjQtLjMsNzEuMS4zYTI3Ljc2LDI3Ljc2LDAsMCwxLDE1LjQsNS4zYzI0LjQsMTksNDguMiwzOC45LDcyLjYsNTcuOSw4LjQsNi41LDE3LjcsMTIuNCwyNy40LDE2LjIsMTguMSw3LDMzLjUtLjksMzkuOC0xOS41YTgxLjIxLDgxLjIxLDAsMCwwLDQuMS0yMS4yYzAuNy0xMy43LjgtMjcuNSwwLjMtNDEuMy0wLjMtNy40LDEuOS0xMS40LDguOC0xNC45LDY3LjUtMzQuNCwxMDIuOS05OC4xLDk3LjEtMTczLjZDNTA1LjE4LDExNy41OSw0NDEsNDkuNDksMzYxLjU4LDQyLjA5WiIvPjwvc3ZnPg==');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 3%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
label {
    cursor: pointer;
}
input[type='checkbox'],
input[type='radio'] {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.field {
    position: relative;
    margin-bottom: 20px;
}
.field input.error,
.field textarea.error,
.field input.error:hover,
.field textarea.error:hover,
.field input.error:focus,
.field textarea.error:focus {
    border-color: red;
}
.field input.error ~ span,
.field textarea.error ~ span,
.field textarea.error:hover ~ span,
.field textarea.error:focus ~ span,
.field input.error:hover ~ span,
.field input.error:focus ~ span {
    background-color: red;
}
.field span.icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #ddd;
    font-size: 1.6em;
    line-height: 40px;
    text-align: center;
    width: 38px;
    height: 100%;
}
.field > input:hover,
.field > input:focus,
.field > select:hover,
.field > select:focus,
.field div.textarea:hover,
.field div.textarea:focus,
.field > textarea:hover,
.field > textarea:focus {
    border: solid 1px #333;
    outline: none;
}
.field > textarea ~ span.icon {
    top: 1px;
}
input:hover ~ span.icon,
input:focus ~ span.icon,
select:hover ~ span.icon,
select:focus ~ span.icon,
textarea:hover ~ span.icon,
textarea:focus ~ span.icon {
    outline: none;
    background-color: #333;
}
.field textarea,
.field div.textarea {
    max-height: 146px;
    height: 146px;
    resize: none;
    overflow: auto;
    font-size: 1.1rem;
}
.field textarea.message,
.field div.textarea.message {
    height: 100%;
    max-height: 100%;
}
.field textarea:focus,
.field div.textarea:focus {
    height: 100%;
    max-height: 100%;
}
a,
label,
input,
select,
textarea,
span.slick-tip,
input ~ span.icon,
select ~ span.icon,
textarea ~ span.icon {
    transition: all 0.2s ease 0s;
}

/* Radio */
.blocks {
    border: medium none;
    clear: both;
    display: block;
    float: left;
    outline: medium none;
}

.blocks label {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    margin: 0 4px 0 0;
    padding: 6px 14px;
}
.blocks label:hover {
    background: none repeat scroll 0 0 #ff2424;
}
.blocks input:checked + label {
    background: none repeat scroll 0 0 #ff2424;
}

/* Select input */
.field select {
    background: none;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    z-index: 2;
    padding-left: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.grayed {
    color: #999;
}
.arrow-select,
.arrow-select-svg {
    background: #fff url('../img/select.png') no-repeat 0 11px;
    width: 44px;
    height: 43px;
    position: absolute;
    right: 1px;
    top: 1px;
    pointer-events: none;
    vertical-align: middle;
    outline: none;
    border: none;
    z-index: 3;
}
select:hover ~ .arrow-select,
select:focus ~ .arrow-select,
select:hover ~ .arrow-select-svg,
select:focus ~ .arrow-select-svg {
    background: #fff url('../img/select-focus.png') no-repeat 0 11px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .arrow-select-svg {
        display: none; /* <-- Hide svg arrow in webkit browsers and IE9/10 (pointer events don't work in those IE) */
    }
}
x:-o-prefocus,
.arrow-select {
    display: none; /* <-- Hack for Opera 12 */
}

/* Placeholders */
/*-- Webkit --*/
input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: #ccc;
}
/*-- Firefox 19 down --*/
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: #ccc;
}
/*-- Firefox 19 up --*/
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: #ccc;
}
/*-- IE 10+ --*/
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: #ccc;
}
/*-- IE 9 --*/
.ie9-placeholder {
    color: #999 !important;
}
.ie9-placeholder:focus {
    color: #ccc !important;
}
/* Send Button */
input.send {
    display: block;
    background: #ff2424;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: auto;
    padding: 6px 28px;
    border: none;
    outline: none;
    clear: none;
    min-height: 40px;
}
input.send:hover,
input.send:focus {
    border: none;
    outline: none;
    background: #333;
    cursor: pointer;
}
/***** Tick checkboxes *****/
label.tick {
    width: auto;
    position: relative;
    display: inline-block;
}
label.tick:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: #fff;
    border: solid 2px #ddd;
}
label.tick:after {
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input:checked + label.tick:after {
    opacity: 1;
    visibility: visible;
}
label.tick span {
    font-size: 16px;
    color: #737373;
    padding-left: 26px;
}
label.tick:hover span {
    color: #333;
}
/* Sliding checkboxes */
.slide-chk {
    min-width: 75px;
    height: 26px;
    line-height: 26px;
    background: #f0f0f0;
    position: relative;
    float: left;
}
.slide-chk:after,
.slide-chk:before {
    font-size: 1em;
    text-align: center;
    position: absolute;
    z-index: 0;
    width: 50%;
    text-transform: uppercase;
}
.slide-chk:before {
    content: 'Yes';
    left: 0;
    color: #222;
}
.slide-chk:after {
    content: 'No';
    right: 0;
    color: #999;
}
.slide-chk label {
    display: block;
    width: 50%;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #ff2424;
    content: '';
}
.slide-chk label:hover {
    background: #333;
}
.slide-chk input[type='checkbox']:checked + label {
    left: 50%;
    background: #333;
}
/* css for timepicker */
.ui-timepicker-div dl {
    text-align: left;
}
.ui-timepicker-div dl dt {
    float: left;
    clear: left;
    padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 45%;
}

/***** Modal Overlay *****/
.overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
    transition: all 0.3s ease 0.1s;
}
.overlay.show {
    opacity: 1;
    overflow: auto;
    visibility: visible;
    z-index: 99999;
}
#aboutOverlay.show {
    z-index: 99995;
}
.overlay > section {
    margin: 5% auto;
    position: relative;
    width: 1000px;
    max-width: 95%;
    z-index: 10;
}
.overlay > section .controls {
    position: absolute;
    right: 40px;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease 0.1s;
}
.overlay > section .controls button {
    background-color: #ddd;
    color: #fff;
    display: inline-block;
    font-size: 1.1em;
    height: 24px;
    line-height: 24px;
    margin-left: 1px;
    position: relative;
    text-align: center;
    width: 24px;
    border: none;
    cursor: pointer;
}
.overlay > section .controls .close-top {
    background-color: #ff2424;
    margin-left: 20px;
}
.overlay > section .controls .close-top:hover {
    background-color: #333;
    cursor: pointer;
}
.overlay .forms {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
    float: left;
    height: auto;
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease 0.1s;
}
.overlay.show .controls,
.overlay.show .forms {
    opacity: 1;
}
.overlay .forms > div {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: auto;
    left: 0;
    opacity: 0;
    padding: 40px;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 0;
    transition: all 0.3s ease 0.1s;
}
.overlay .forms > div.show {
    opacity: 1;
    position: relative;
    visibility: visible;
    z-index: 10;
}
.overlay .cancel {
    display: none;
}

.spin {
    animation: spin 7s linear 10ms infinite;
    -moz-animation: spin 7s linear 10ms infinite;
    -webkit-animation: spin 7s linear 10ms infinite;
    -o-animation: spin 7s linear 10ms infinite;
}
@-webkit-keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@-o-keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.overlay .progressBar {
    border: 1px solid #000;
    clear: both;
    font-size: 1.4em;
    margin: 10px 0;
    transition: all 0.2s ease 0s;
    opacity: 0;
    padding: 3px;
}
.overlay .progressBar.loading {
    opacity: 1;
}
.overlay .progressBar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
    text-align: center;
}

/***** Create Modal *****/
#createWindow .create-example {
    height: 40px;
    padding-left: 0;
}
#createWindow .create-example code {
    display: inline-block;
}
#createWindow .create-example li {
    float: left;
    list-style: none;
    margin-right: 15px;
}
/***** Save Modal *****/
#saveWindow {
    text-align: center;
}
/***** Open Modal *****/
#openWindow strong {
    margin-right: 10px;
}
/***** About Modal Overlay *****/

#aboutOverlay > section {
    width: 60%;
    min-width: 225px;
}
#aboutOverlay.show {
    z-index: 99995;
}
#aboutOverlay #aboutWindow img {
    float: left;
}
#aboutOverlay #aboutWindow a {
    color: #04819f;
    -moz-transition: color 0.5s ease-in;
    -webkit-transition: color 0.5s ease-in;
    -o-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
}
#aboutOverlay #aboutWindow a:hover {
    color: #9ad3e0;
}
#aboutOverlay .scroll-box {
    overflow: auto;
    height: 150px;
    font-size: 1.2em;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #d8d8d8;
}
#aboutOverlay .about-content {
    padding-left: 20px;
}
/***** Alert Modal Overlay *****/
#alertOverlay.show {
    z-index: 99999;
}
#alertOverlay input {
    display: none;
}
#alertOverlay p {
    font-size: 1.4em;
}
#alertOverlay code {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    white-space: inherit;
    word-wrap: break-word;
}
#alertOverlay .show {
    display: block;
}

/***** Media Query Max width 480px *****/
@media screen and (max-width: 480px) {
    input.send {
        float: left;
        clear: both;
        font-size: 1.6em;
        width: 100%;
        padding: 12px;
    }
    .field input {
        font-size: 1.6em;
    }
    .slide-chk {
        clear: both;
        height: 30px;
        line-height: 30px;
    }
    .slide-chk label {
        height: 30px;
    }

    #application > nav > ul > li {
        flex: 1;
    }
    #application > nav li.spacer {
        flex: 0;
    }
    #wrapper {
        flex-direction: column;
    }
    #sidebar {
        flex: 1;
    }
    #details > nav {
        flex-direction: column;
    }
    #details > nav .field {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    #details > nav input[type='button'] {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .overlay .forms > div {
        width: 100vw;
        height: auto;
        min-height: 100vh;
    }
    #aboutOverlay > section {
        width: 100vw;
    }
    #aboutOverlay #aboutWindow img {
        display: block;
        margin: 0 auto;
        float: none;
    }
}

/***** IE Pin Site *****/

#divPinSite {
    position: fixed;
    padding: 5px;
    color: white;
    width: 250px;
    height: 15px;
    top: 0px;
    left: 70px;
    background-color: #c00;
    border-radius: 0px 0px 10px 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    box-sizing: content-box;
    cursor: pointer;
}
#divPinSite::before,
#divPinSite::after {
    box-sizing: content-box;
}
#divPinSite img {
    height: 16px;
    width: 16px;
    vertical-align: top;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

#divPinSite a {
    float: left;
    padding-top: 1em;
    text-decoration: none;
    color: black;
    font-size: smaller;
}
