/* jsTree default theme */
.jstree-node,
.jstree-children,
.jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.jstree-node {
    white-space: nowrap;
}
.jstree-anchor {
    display: inline-block;
    color: black;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
}
.jstree-anchor:focus {
    outline: 0;
}
.jstree-anchor,
.jstree-anchor:link,
.jstree-anchor:visited,
.jstree-anchor:hover,
.jstree-anchor:active {
    text-decoration: none;
    color: inherit;
}
.jstree-icon {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
}
.jstree-icon:empty {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
}
.jstree-ocl {
    cursor: pointer;
}
.jstree-leaf > .jstree-ocl {
    cursor: default;
}
.jstree .jstree-open > .jstree-children {
    display: block;
}
.jstree .jstree-closed > .jstree-children,
.jstree .jstree-leaf > .jstree-children {
    display: none;
}
.jstree-anchor > .jstree-themeicon {
    margin-right: 2px;
}
.jstree-no-icons .jstree-themeicon,
.jstree-anchor > .jstree-themeicon-hidden {
    display: none;
}

.vakata-context {
    display: none;
}
.vakata-context,
.vakata-context ul {
    margin: 0;
    padding: 2px;
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #979797;
    -moz-box-shadow: 5px 5px 4px -4px #666666;
    -webkit-box-shadow: 2px 2px 2px #999999;
    box-shadow: 2px 2px 2px #999999;
}
.vakata-context ul {
    list-style: none;
    left: 100%;
    margin-top: -2.7em;
    margin-left: -4px;
}
.vakata-context li {
    list-style: none;
    display: inline;
}
.vakata-context li > a {
    display: block;
    padding: 0 2em 0 2em;
    text-decoration: none;
    width: auto;
    color: black;
    white-space: nowrap;
    line-height: 2.4em;
    -moz-text-shadow: 1px 1px 0 white;
    -webkit-text-shadow: 1px 1px 0 white;
    text-shadow: 1px 1px 0 white;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.vakata-context li > a:hover {
    position: relative;
    background-color: #e8eff7;
    -moz-box-shadow: 0 0 2px #0a6aa1;
    -webkit-box-shadow: 0 0 2px #0a6aa1;
    box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context li > a.vakata-context-parent {
    background-image: url('data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==');
    background-position: right center;
    background-repeat: no-repeat;
}
.vakata-context li > a:focus {
    outline: 0;
}
.vakata-context .vakata-context-hover > a {
    position: relative;
    background-color: #e8eff7;
    -moz-box-shadow: 0 0 2px #0a6aa1;
    -webkit-box-shadow: 0 0 2px #0a6aa1;
    box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
    background: white;
    border: 0;
    border-top: 1px solid #e2e3e3;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    padding: 0;
    margin: 0 0 0 2.4em;
    border-left: 1px solid #e0e0e0;
    -moz-text-shadow: 0 0 0 transparent;
    -webkit-text-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
    color: silver;
    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0;
}
.vakata-context li > a > i {
    text-decoration: none;
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    background: transparent;
    margin: 0 0 0 -2em;
    vertical-align: top;
    text-align: center;
    line-height: 2.4em;
}
.vakata-context li > a > i:empty {
    width: 2.4em;
    line-height: 2.4em;
}
.vakata-context li > a .vakata-contextmenu-sep {
    display: inline-block;
    width: 1px;
    height: 2.4em;
    background: white;
    margin: 0 0.5em 0 0;
    border-left: 1px solid #e2e3e3;
}
.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-repeat: no-repeat;
    background-color: transparent;
}
.jstree-default .jstree-anchor {
    transition: background-color 0.15s, box-shadow 0.15s;
}
.jstree-default .jstree-hovered {
    background: #e7f4f9;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #cccccc;
}
.jstree-default .jstree-clicked {
    background: #beebff;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999999;
}

.jstree-default .jstree-search {
    font-style: italic;
    color: #8b0000;
    font-weight: bold;
}

.jstree-default > .jstree-striped {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==')
        left top repeat;
}

.jstree-default .jstree-node {
    min-height: 24px;
    line-height: 24px;
    margin-left: 24px;
    min-width: 24px;
}
.jstree-default .jstree-anchor {
    line-height: 24px;
    height: 24px;
}
.jstree-default .jstree-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.jstree-default .jstree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-image: url('https://mariani.life/projects/minerva/img/32px.png');
}
.jstree-default .jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
.jstree-default .jstree-last {
    background: transparent;
}
.jstree-default .jstree-open > .jstree-ocl {
    background-position: -132px -4px;
}
.jstree-default .jstree-closed > .jstree-ocl {
    background-position: -100px -4px;
}
.jstree-default .jstree-leaf > .jstree-ocl {
    background-position: -68px -4px;
}
.jstree-default .jstree-themeicon {
    background-position: -260px -4px;
}
.jstree-default > .jstree-striped {
    background-size: auto 48px;
}

.jstree-default .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}
.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
    background: url('https://mariani.life/projects/minerva/img/throbber.gif')
        center center no-repeat;
}
.jstree-default > .jstree-container-ul > .jstree-node {
    margin-left: 0;
    margin-right: 0;
}
